#ultimate-wrapper{
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
}
#chat-bot{
    display: flex;
    justify-content: center;
    background-color: lavender;
    /* background-image: linear-gradient(to right,#0575E6,#021B79); */
    border-radius: 10px;
    margin: 10px;
}
#user-list-head{
    margin: 0;
    background-color: lavender;
    /* background-image: linear-gradient(to right,#800080,#ffc0cb); */
}
.online-wrapper{
    flex-grow: 1;
    overflow-y: scroll;
}
#chat-bot-avatar{
    border-radius: 50%;
}
.users{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#end-buffer{
    width: 100%;
}